<!--<section class="property-binding">

    <article>
        <h3>Interpolation/ Interpolação</h3>
        <p>Nome = {{ name }}</p>
        <p>1 + 1 = {{ 1 + 1 }}</p>
        <p>1 + 1 != {{ 1 + 1 + getValue() }}</p>
        <p>Curso Angular = {{ courseAngular && getCourse() }}</p>
    </article>
    
    <article>
        <h3>Property Binding</h3>
        <img src="{{ urlImage }}">
        <img [src]=" urlImage "> ou <img bind-src=" urlImage ">
    </article>

    <article>
        <h3>Class e Style Binding</h3>
        <div>
            Selecione uma classe:
            <select #classe (change)="0">
                <option value="alert-success">Sucesso</option>
                <option value="alert-info">Info</option>
                <option value="alert-warning">Alerta</option>
                <option value="alert-danger">Erro</option>
            </select>
            <br><br>
                <div class="alert {{ classe.value }}" role="alert">
                    texto colorido conforme escolha
                </div>
                <div class="alert" role="alert" 
                [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
                <div class="alert" role="alert"
                [class.alert-info]="classe.value == 'alert-info'">Info</div>
                <div class="alert" role="alert"
                [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
                <div class="alert" role="alert"
                [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

                <div class="alert alert-danger" role="alert"
                [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
                    Erro
                </div>
        </div>
    </article>
</section>-->
<!--<section class="event-binding">
    <article>
        <h3>Event Binding</h3>
        <div>
            <button class="btn btn-primary" (click)="btnClick()">Clique aqui!</button>
        </div>
        <br><br>
        <input type="text" (keyup)="onKeyUp($event)"
         (keyup.enter)="saveValue(fieldInput.value)"
         (blur)="saveValue(fieldInput.value)" #fieldInput/>
        <br>
        <p>{{ valueActual }}</p>
        <p>{{ valueSave }}</p>
        <br>
        <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()"
        [class.highlight]="isMouseOver">
            Passe o Mouse sobre mim
        </span>
    </article>
</section>
<section class="two-way-binding">
    <article>
        <h3>Two-way data binding</h3>
        <div>
            <input type="text"
            [value]="name"
            (input)="name = fieldInput.value"
            #fieldInput/>

            <input type="text"
            [ngModel]="name"
            (ngModelChange)="name = $event"/>

            <input type="text" [(ngModel)]="name"/>

            <p>Valor digitado: {{ name }}</p>
        </div>
        <div>
            <p>Meu nome é {{ person.name }}, tenho {{ person.age }} anos.</p>

            <input type="text" [(ngModel)]="person.name"/>
            <input type="text" [(ngModel)]="person.age"/>
        </div>
    </article>
</section>-->
<section class="input-output-properties">
    <article>
        <h3>Input/Output Properties</h3>
        <app-course [course]="courseName"></app-course>
    </article>
</section>